@(continents : List[Continent],message : String)
@layout("List of continents in world"){

<script>
    function deleteContinent(continentId) {
    var txt;
    var res = confirm("Do you want to delete Continent including countries and cities!");
    if (res == true) {
    // var r = jsRoutes.controllers.ContinentController.deleteContinent(continentId)
    // $.ajax({url: r.url, type: r.type, success: alert("success"), error: alert("Error") });
    $.ajax(jsRoutes.controllers.ContinentController.deleteContinent(continentId)).done( location.reload())
    }
    }
</script>
<div class="row">
    <div class="col-sm-12">
        <h1 class="heading-h3">List of continents in world</h1>
    </div>
</div>
<h6 class="heading-h3 success-h6 ">@message</h6>
<b class="link-style"> Do you want add continents <a href="@routes.ContinentController.addContinent()">here</a></b>
@if(continents.isEmpty){
    <h6 class="heading-h3 success-h6 ">No continents existed in world</h6>

}else{
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Continent Id</th>
        <th>Continent Name</th>
        <th>Get Countries</th>
        <th>Add Country</th>
        <th>Remove Continent</th>
    </tr>
    </thead>
    <tbody>
    @for(continent <- continents){
    <tr>
        <td>@continent.continentId</td>
        <td>@continent.continentName</td>
        <td> <a href="@routes.ContinentController.getCountriesOfContinent(continent.continentId,continent.continentName,"")">Countries</a></td>
        <td> <a href="@routes.ContinentController.addCountryToContinent(continent.continentId,continent.continentName)">Add</a></td>
        <td><a href="#" onclick="deleteContinent(@continent.continentId)">Remove</a></td>
    </tr>

    }
    </tbody>
</table>
}
}