.heading{
    margin-left: 40%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.link-style{
     margin-left: 40%;
}

.heading-h3{
    margin-left: 30%
}

.success-h6{
    color : #4dff4d
}

.center_div{
    margin: 0 auto;
    width: 50%;
}